@charset "UTF-8";
/* CSS Document */

/*define link styles: */
a:link		{ color: #00325b; text-decoration: none; }
a:visited 	{ color: #929d93; }
a:hover		{ color: #5eb0e5; }
a:active	{ color: #6d6e71; }

body {
      background: url(images/banner.gif) top left repeat-x;
	  background-color: #c7be71;
	  font-family: Arial, Helvetica, sans-serif;
	  font-size: 14px;
 }
 
/*all content should be styled thusly: */
.content {
	background: #fff;
	border-radius: 5px;
	padding: 10px;
	margin: 10px 5px;
}

.footer {
    clear: both;
    vertical-align: middle;
	width: 1200px;
	height: 15px;
	background: #fff;
	border-radius: 5px;
	padding: 5px;
    padding-bottom: 15px;
	margin-top: 30px;
	font-family: "Arial Black", Gadget, sans-serif;
}
/*defines the style for the banner and its text*/
.banner {
	width: 1200px;
	height: 110px;
	background: #fff;
	border-radius: 5px;
	padding: 5px;
	margin-bottom: 20px;
	font-family: "Arial Black", Gadget, sans-serif;
}
 
/*style for the menu bar on the left*/
.menuLeft {
	width: 200px;
	float: left;
        margin: 0px;
        margin-bottom: 10px;
}

.fullPageContent {
    width: 1200px;
    height: 300px;
    background: #fff;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
}

/*style for the container of our changing content*/
.loadedContent {
	float: right;
	width: 950px;
    margin: 0px;
    margin-bottom: 10px;
}


/*defines the main page container*/
.mainContainer {
	margin: auto;
	width: 1200px;
    margin: auto;
}

/*defines the subconatiner where our menu bar and dynamic content live*/
.bodyContainer {
    width: 1200px;
    margin: auto;
}

/*Tool tips CSS*/
.tooltip {
	border-bottom: 1px dotted #a10022; color: #000000; outline: none;
	cursor: help; text-decoration: none;
	position: relative;
}
.tooltip span {
	margin-left: -999em;
	position: absolute;
}
.tooltip:hover span {
	border-radius: 5px 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; 
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1); -webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.1); -moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
	font-family: Calibri, Tahoma, Geneva, sans-serif;
	position: absolute; left: 1em; top: 2em; z-index: 99;
	margin-left: 0; width: 250px;
}
.tooltip:hover img {
	border: 0; margin: -10px 0 0 -55px;
	float: left; position: absolute;
}
.tooltip:hover em {
	font-family: Candara, Tahoma, Geneva, sans-serif; font-size: 1.2em; font-weight: bold;
	display: block; padding: 0.2em 0 0.6em 0;
}
.classic { padding: 0.8em 1em; }
.custom { padding: 0.5em 0.8em 0.8em 2em; 
		  color: #000000}
* html a:hover { background: transparent; }
.classic {background: #FFFFAA; border: 1px solid #FFAD33; }
.critical { background: #FFCCAA; border: 1px solid #FF3334;	}
.help { background: #5eb0e5; border: 1px solid #00325b;	}
.info { background: #9FDAEE; border: 1px solid #2BB0D7;	}
.warning { background: #FFFFAA; border: 1px solid #FFAD33; }

/*Live validation CSS*/
.LV_validation_message{
    font-weight:bold;
    margin:0 0 0 5px;
}

.LV_valid {
    color:#00CC00;
}
	
.LV_invalid {
    color:#CC0000;
}
    
.LV_valid_field,
input.LV_valid_field:hover, 
input.LV_valid_field:active,
textarea.LV_valid_field:hover, 
textarea.LV_valid_field:active {
    border: 1px solid #00CC00;
}
    
.LV_invalid_field, 
input.LV_invalid_field:hover, 
input.LV_invalid_field:active,
textarea.LV_invalid_field:hover, 
textarea.LV_invalid_field:active {
    border: 1px solid #CC0000;
}

/* override jquery accodion UI*/
.ui-accordion .ui-accordion-content {
	padding: 5px;
}  

.ui-accordion .ui-accordion-header {
    cursor: pointer;
    display: block;
    margin-top: 2px;
    min-height: 0;
    padding: 2px;
    position: relative;
}
.ui-accordion .ui-accordion-icons {
    padding-left: 2.2em;
}
.ui-accordion .ui-accordion-noicons {
    padding-left: 1.2em;
}
.ui-accordion .ui-accordion-icons .ui-accordion-icons {
    padding-left: 0;
}
.ui-accordion .ui-accordion-header .ui-accordion-header-icon {
    left: 0.5em;
    margin-top: -8px;
    position: absolute;
    top: 50%;
}
.ui-accordion .ui-accordion-content {
    border-top: 0 none;
    overflow: auto;
    padding: 5px;
}

/*Time picker*/
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; }
.ui-timepicker-rtl dl dd { margin: 0 65px 10px 10px; }